@model IEnumerable<DataAccess.Models.EntityAssigments.UserFavourities>
@{
    ViewData["Title"] = "Index";
}


<div class="movieBox"" >

<h1>List you favourities Movies and TVSeries</h1>

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
           
                <a class="heart" asp-controller="Movie" asp-action="DetailsUser" asp-route-id="@item.MovieId">@item.Movie.Title</a>
            </td>
        
            <td>             
              
                 <a class="heart" asp-controller="Account" asp-action="RemoveMovieToFavourities" asp-route-id="@item.Id">REMOVE FROM WATCHLIST</a>
          
            </td>
        </tr>
}
    </tbody>
</table>
</div>