@model IEnumerable<DataAccess.Models.EntityAssigments.UserFavourities>
@{
    ViewData["Title"] = "Index";
}

<h1>List you favourities Movies and TVSeries</h1>


<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
        
            <td>
              
                @*@Html.ActionLink("Delete", "Delete", new {  id=item.Id  })*@
                 <a class="heart" asp-controller="Account" asp-action="RemoveMovieToFavourities" asp-route-id="@item.Id">REMOVE FROM WATCHLIST</a>
          
            </td>
        </tr>
}
    </tbody>
</table>
