@model IEnumerable<DataAccess.Models.EntityAssigments.UserFavoriteMovies>
@{
    ViewData["Title"] = "Index";
}

<div class="movieBox-favourities" >

    <h1>List your favourities Movies</h1>

    <div class="table">   
       
    @foreach (var item in Model) {
            <tr>
                <div class="gallery">
                    <a asp-controller="Movie" asp-action="DetailsUser" asp-route-id="@item.MovieId"><img src="@item.Movie.PosterPath" alt="@item.Movie.Title"></a>
                    <div class="desc">@item.Movie.Title</div>
                </div>
            </tr>
    }
       
    </div>
</div>