@using MoviesPortalWebApp.Models;
@model LoginVM

@{
    ViewData["Title"] = "Login to your account";
}

<div class="rowLogin">
    <div class="loginBackgound">
        <div class="loginPanel">
            <h2>Do you know the first rule of fight club?</h2>
            <a class="btn-login-mistake" asp-controller="Account" asp-action="AuthLayout">Go back</a>
        </div>
    </div>
</div>