@model IEnumerable<MoviesPortalWebApp.Models.MovieVM>

@{
    ViewData["Title"] = "Home Page";
}


<section id="banner" class="clearfix">
    <div id="banner_content_wrapper">
@*        <div id="poster">
            <img src="images/movies/deadpool.jpg" alt="Deadpool Movie Poster" class="featured_image">
            <img src="images/play_button.png" alt="Play Trailer" class="play_button">
        </div>*@
        <div id="content">
            <h2 class="title">Fight Club</h2>
            <div class="ratings">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star inactive"></i>
                <i class="fa fa-star inactive"></i>
            </div>

            <p class="description">An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.</p>

            <p class="info">R <span>|</span> 139 min <span>|</span> Dark, psychological thriller,  <span>|</span> 10 December 1999</p>
        </div>
    </div>
</section>

<section id="top_movies text-light" class="clearfix">
    <div class="wrapper text-light">
        <header class="clearfix">
            <h2 class="movies" >Movies</h2>
@*            <p class="view_more">View All Movies</p>*@
        </header>

        <div class="row">
@*            <div class="post">
                <img src="images/movies/the-martian.jpg" alt="The Martian">
                <h3 class="title">The Martian</h3>
                <p class="post_info">PG13 | 109 Minutes</p>
            </div>*@

            @foreach(var movie in Model)
            {
                <partial name="_MovieCard" model="movie" /> 
            }

        </div>
    </div>
</section>
<section id="footerBaner" class="clearfix">>
    <div>

    </div>
</section>
