@using Microsoft.AspNetCore.Identity;
@inject UserManager<DataAccess.Models.ApplicationUser> UserManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesPortalWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar_main">
            <a class="logo" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-responsive" alt="logo" src="~/images/logo.png"/></a>
     
                <a class='icon_menu'><span></span></a>
                    <ul class='top_menu'>
             
                      <li><a class='top_menu__item' asp-controller="Home" asp-action="Index">Home</a></li>
                      <li><a class='top_menu__item' asp-controller="Movie" asp-action="IndexUser">Movies</a></li>
                      <li><a class='top_menu__item' asp-controller="TvSeries" asp-action="Index">TvShows</a></li>
                      <li><a class='top_menu__item' asp-controller="CreativePerson" asp-action="IndexUser">Persons</a></li>
                      <li><a class='top_menu__item' asp-controller="Account" asp-action="Login">Login</a></li>      
                    </ul>
         </nav>
    </header>

    @RenderBody()

    <section id="newsletter">
        <div class="newsletter_inner">
            <h2>Get the best Movie &amp; TV Show trailers straight in your inbox each week.</h2>
            <div class="sign_up_form">
                <input type="text" placeholder="First Name">
                <input type="email" placeholder="Email Address">
                <button class="button">Subscribe</button>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="jquery.min.js"></script>*@

    <script>
        $('.icon_menu').click(function(){
          $('body').toggleClass('menu_shown');
        });

    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
