<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesPortalWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Cartel</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="IndexUser">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TvSeries" asp-action="Index">Seriale</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreativePerson" asp-action="IndexUser">Creative Person</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                        {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="IndexUser">Favourites</a>
                        </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-gear"></i> Management
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-controller="Movie" asp-action="Index">Movies [Admin]</a>
                                        <a class="dropdown-item" asp-controller="TvSeries" asp-action="Index">TvSeries [Admin]</a>
                                        <a class="dropdown-item" asp-controller="CreativePerson" asp-action="Index">Creative Person [Admin]</a>
                                    </div>
                                </li>

                                // to jest do usunięcia gdy będzie można rozwijać to powyżej
                                <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Movies [Admin]</a>
                                </li>
                                <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="TvSeries" asp-action="Index">TvSeries [Admin]</a>
                                </li> 
                                <li class="nav-item">
                                     <a class="nav-link text-dark" asp-area="" asp-controller="CreativePerson" asp-action="Index">Movies [Admin]</a>
                                </li>


                        }
                    </ul>

                    <partial name="_Identity.cshtml" />
                </div>
            </div>
        </nav>
    </header>

    @*    <div class="container">
        <main role="main" class="pb-3">*@
    @RenderBody()
    @*        </main>
        </div>*@

    @*	<section id="top_shows" class="clearfix">
        <div class="wrapper">
        <header class="clearfix">
        <h2>Popular Shows</h2>
        <p class="view_more">View All Shows</p>
        </header>

        <div class="row">
        <div class="post">
        <img src="images/tv_shows/walking-dead.jpg" alt="The Walking Dead">
        <h3 class="title">The Walking Dead</h3>
        <p class="post_info">PG13 | Season 4</p>
        </div>

        <div class="post">
        <img src="images/tv_shows/game-of-thrones.jpg" alt="Game Of Thrones">
        <h3 class="title">Game Of Thrones</h3>
        <p class="post_info">PG13 | Season 6</p>
        </div>

        <div class="post">
        <img src="images/tv_shows/breaking-bad.jpg" alt="Breaking Bad">
        <h3 class="title">Breaking Bad</h3>
        <p class="post_info">PG13 | Season 5</p>
        </div>

        <div class="post">
        <img src="images/tv_shows/empire.jpg" alt="Empire">
        <h3 class="title">Empire</h3>
        <p class="post_info">PG13 | Season 2</p>
        </div>

        <div class="post">
        <img src="images/tv_shows/master-of-none.jpg" alt="Master of None">
        <h3 class="title">Master of None</h3>
        <p class="post_info">PG13 | Season 1</p>
        </div>
        </div>
        </div>
        </section>*@

    <section id="newsletter">
        <div class="newsletter_inner">
            <h2>Get the best Movie &amp; TV Show trailers straight in your inbox each week.</h2>
            <div class="sign_up_form">
                <input type="text" placeholder="First Name">
                <input type="email" placeholder="Email Address">
                <button class="button">Subscribe</button>
            </div>
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MoviesPortalWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
