<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoviesPortalWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MoviesPortalWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MoviesPortalWebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Movies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="TvSeries" asp-action="Index">Seriale</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreativePerson" asp-action="IndexUser">CreativePerson-User</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="CreativePerson" asp-action="Index">CreativePerson-Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section id="banner" class="clearfix">
		<div id="banner_content_wrapper">
			<div id="poster">
				<img src="images/movies/deadpool.jpg" alt="Deadpool Movie Poster" class="featured_image">
				<img src="images/play_button.png" alt="Play Trailer" class="play_button">
			</div>
			<div id="content">
				<h2 class="title">Deadpool</h2>
				<div class="ratings">
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star"></i>
					<i class="fa fa-star inactive"></i>
					<i class="fa fa-star inactive"></i>
				</div>

				<p class="description">A former Special Forces operative turned mercenary is subjected to a rogue experiment that leaves him with accelerated healing powers, adopting the alter ego Deadpool.</p>

				<p class="info">R <span>|</span> 108 min <span>|</span> Action, Adventure, Comedy <span>|</span> 12 February 2016</p>
			</div>
		</div>
	</section>

	<section id="top_movies" class="clearfix">
		<div class="wrapper">
			<header class="clearfix">
				<h2>Popular Movies</h2>
				<p class="view_more">View All Movies</p>
			</header>

			<div class="row">
				<div class="post">
					<img src="images/movies/the-martian.jpg" alt="The Martian">
					<h3 class="title">The Martian</h3>
					<p class="post_info">PG13 | 109 Minutes</p>
				</div>
			
				<div class="post">
					<img src="images/movies/inside-out.jpg" alt="Inside Out">
					<h3 class="title">Inside Out</h3>
					<p class="post_info">PG13 | 109 Minutes</p>
				</div>
			
				<div class="post">
					<img src="images/movies/jurassic-world.jpg" alt="Jurassic World">
					<h3 class="title">Jurassic World</h3>
					<p class="post_info">PG13 | 109 Minutes</p>
				</div>
			
				<div class="post">
					<img src="images/movies/mad-max.jpg" alt="Mad Max">
					<h3 class="title">Mad Max</h3>
					<p class="post_info">PG13 | 109 Minutes</p>
				</div>
			
				<div class="post">
					<img src="images/movies/star-wars.jpg" alt="Star Wars">
					<h3 class="title">Star Wars</h3>
					<p class="post_info">PG13 | 109 Minutes</p>
				</div>
			
				<div class="post">
					<img src="images/movies/avengers.jpg" alt="The Avengers">
					<h3 class="title">Avengers</h3>
					<p class="post_info">PG13 | 109 Minutes</p>
				</div>
			</div>

		</div>
	</section>

	<section id="top_shows" class="clearfix">
		<div class="wrapper">
			<header class="clearfix">
				<h2>Popular Shows</h2>
				<p class="view_more">View All Shows</p>
			</header>

			<div class="row">
				<div class="post">
					<img src="images/tv_shows/walking-dead.jpg" alt="The Walking Dead">
					<h3 class="title">The Walking Dead</h3>
					<p class="post_info">PG13 | Season 4</p>
				</div>
			
				<div class="post">
					<img src="images/tv_shows/game-of-thrones.jpg" alt="Game Of Thrones">
					<h3 class="title">Game Of Thrones</h3>
					<p class="post_info">PG13 | Season 6</p>
				</div>
			
				<div class="post">
					<img src="images/tv_shows/breaking-bad.jpg" alt="Breaking Bad">
					<h3 class="title">Breaking Bad</h3>
					<p class="post_info">PG13 | Season 5</p>
				</div>
			
				<div class="post">
					<img src="images/tv_shows/empire.jpg" alt="Empire">
					<h3 class="title">Empire</h3>
					<p class="post_info">PG13 | Season 2</p>
				</div>
			
				<div class="post">
					<img src="images/tv_shows/master-of-none.jpg" alt="Master of None">
					<h3 class="title">Master of None</h3>
					<p class="post_info">PG13 | Season 1</p>
				</div>
			
				<div class="post">
					<img src="images/tv_shows/mr-robot.jpg" alt="Mr Robot">
					<h3 class="title">Mr Robot</h3>
					<p class="post_info">PG13 | Season 1</p>
				</div>
			</div>
		</div>
	</section>

	<section id="newsletter">
		<div class="newsletter_inner">
			<h2>Get the best Movie &amp; TV Show trailers straight in your inbox each week.</h2>
			<div class="sign_up_form">
				<input type="text" placeholder="First Name">
				<input type="email" placeholder="Email Address">
				<button class="button">Subscribe</button>
			</div>
		</div>
	</section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MoviesPortalWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
