@model MoviesPortalWebApp.Models.MoviesAndSubscriptionVM

<section id="newsletter">
    <div class="newsletter_inner">
        <h2>Get the best Movie &amp; TV Show trailers straight in your inbox each week.</h2>
        <div class="sign_up_form">
            <form asp-controller="Subscription" asp-action="Create">
                <input asp-for="@Model.Subscription.FirstName" placeholder="First Name" />
                <span asp-validation-for="@Model.Subscription.FirstName" class="text-danger"></span>
                <input asp-for="@Model.Subscription.Email" placeholder="Email Address">
                <span asp-validation-for="@Model.Subscription.Email" class="text-danger"></span>
                <input type="submit" value="Subscribe" class="button" />
            </form>
        </div>
    </div>
</section>
