@model MovieVM


<div class="post">
    <img src="@Model.PosterPath" alt="@Model.Title">
    <h3 class="@Model.Title">The Martian</h3>
    <p class="post_info">$@Model.ProductionYear | @Model.ImdbRatio</p>
</div>