@model MovieVM

<h2 class="comments-h2"> Comments section: </h2>
@foreach(var comment in Model.Comments)
{
    <section class="comments-area">

        <div class="comment">
            
            <p>
                <i class="fa fa-comment"></i>
                @comment.UserName (@comment.PublishedAt)
            </p>
            <p>
                
                @comment.Content
            </p>
        </div>
    </section>
}